<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Weare Shop</title>
  <link rel="icon" href="/user/img/Fevicon.jpg" type="image/png">
  <link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/user/vendors/linericon/style.css">
  <link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="/user/css/style.css">
</head>

<body>

  {{!-- section --}}
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="/user/img/logo.png" style="height: 5rem;width: 5rem;"
              alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item {{#if userHome}}active{{/if}}"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item {{#if userShop}}active{{/if}}"><a class="nav-link" href="/shop">Shop</a></li>
              <li class="nav-item {{#if userOrder}}active{{/if}}"><a class="nav-link" href="/orderDetails">Orders</a>
              </li>
              
              <li class="nav-item {{#if userContact }}active{{/if}}"><a class="nav-link " href="/contact">Contact</a>
              </li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><a href="/userProfile"><button><i class="ti-user "></i></button></a></li>
              <li class="nav-item"><a href="/wishlist"><button><i class="ti-heart"></i></button></a></li>
              <li class="nav-item"><a href="/cart"><button><i class="ti-shopping-cart"></i><span
                      class="nav-shop__circle" id="cart-count">{{countCart}}</span></button></a></li>
              {{#if userLogin}}
              <li class="nav-item"><a class="button button-header" href="/logout">Logout</a></li>
              {{else}}
              <li class="nav-item "><a class="button button-header" href="/login">Login</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>





  {{!-- user script --}}

  <script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/user/vendors/skrollr.min.js"></script>
  <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/user/vendors/nouislider/nouislider.min.js"></script>
  <script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/user/vendors/mail-script.js"></script>
  <script src="admin/js/main.js"></script>
  <script src="/user/vendors/jquery.form.js"></script>
  <script src="/user/vendors/jquery.validate.min.js"></script>
  <script src="/user/vendors/contact.js"></script>


  <!-- ====== ionicons ======= -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>