<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weare Shop</title>
	<link rel="icon" href="/user/img/Fevicon.jpg" type="image/png">
    <link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/user/vendors/linericon/style.css">
    <link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/user/css/style.css">
</head>

<body>

    {{!-- section --}}
    <section class="checkout_area section-margin--small">


        <div class="container">
            <a href="/userProfile"><i class="ti-angle-left"></i></a>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12 " style="margin-top: 2rem;">

                        <h3>Change Password</h3>

                        <form class="row contact_form " action="#" method="post" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="first" name="name"
                                    placeholder="Current Password">
                                <span class="placeholder" data-placeholder="First name"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="email" class="form-control" id="last" name="email"
                                    placeholder="New Password">
                                <span class="placeholder" data-placeholder="Last name"></span>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company"
                                    placeholder="Re-enter New Password">
                            </div>
                            <div class="">

                                <a href="" class="button button-coupon float-right text-cente">Submit</a>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {{!-- user script --}}

    <script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/user/vendors/skrollr.min.js"></script>
    <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/user/vendors/nouislider/nouislider.min.js"></script>
    <script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/user/vendors/mail-script.js"></script>
    <script src="/user/js/main.js"></script>
    <script src="/user/vendors/jquery.form.js"></script>
    <script src="/user/vendors/jquery.validate.min.js"></script>
    <script src="/user/vendors/contact.js"></script>


    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>