<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Weare Shop</title>
	<link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="/user/vendors/linericon/style.css">
	<link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">

	<link rel="stylesheet" href="/user/css/style.css">
</head>

<body>

    {{!-- section --}}




	{{!-- user script --}}

	<script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/user/vendors/skrollr.min.js"></script>
	<script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="/user/vendors/nouislider/nouislider.min.js"></script>
	<script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
	<script src="/user/vendors/mail-script.js"></script>
	<script src="/user/js/main.js"></script>
	<script src="/user/vendors/jquery.form.js"></script>
	<script src="/user/vendors/jquery.validate.min.js"></script>
	<script src="/user/vendors/contact.js"></script>


	<!-- ====== ionicons ======= -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>