<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="vendors/nice-select/nice-select.css">
	<link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

	<link rel="stylesheet" href="/user/css/style.css">
</head>

<body>

	<section>


		<!--================Login Box Area =================-->
		<section class="login_box_area section-margin">
			<div class="container">
				<div class="row">
					
					<div class="col-lg-12">
						<div class="login_form_inner">
							<h3>Enter OTP that we sended to your email</h3>
							<form class="row login_form" action="/otpVerify" method="post" id="userLoginForm">
    
								<div class="col-md-12 form-group">
									<input type="number" class="form-control" id="otp" name="otp"
										placeholder="OTP" onfocus="this.placeholder = ''"
										onblur="this.placeholder = 'otp'">
								</div>
								<div>
									<p id="passwordError"></p>
								</div>
								{{!-- <div class="col-md-12 form-group">
									<div class="creat_account">
										<input type="checkbox" id="f-option2" name="selector">
										<label for="f-option2">Keep me logged in</label>
									</div>
								</div> --}}
									<p>{{otpMsg}}</p>
								<div class="col-md-12 form-group mb-5">
									<button type="submit" value="submit" id='submitButton'
										class="button button-login w-100">VERIFY</button>
								</div>
							</form>
						
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Login Box Area =================-->



	</section>

	<script>


	</script>


        	{{!-- user script --}}

  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/skrollr.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/jquery.ajaxchimp.min.js"></script>
  <script src="vendors/mail-script.js"></script>
  <script src="js/main.js"></script>
</body>

</html>